<div class="container">
  <p class="h1 text-center mt-5">URL Shortener</p>
  <div class="d-flex justify-content-center">
    <img src="/images/ExportedContentImage_00.png" style="width: 10rem" class="my-5" alt="link_image">
  </div>

  {{!-- action 表單提交時會送往的位址 --}}
  {{!-- method 定義 HTTP 的方法(get 或 post)發送數據(預設是 get) --}}
  <form class="d-grid gap-4 my-4" action="/shortUrls" method="POST">
    <label class="visually-hidden" for="fullUrl">Input URL here</label>
    <input type="url" class="form-control mx-auto" style="width: 36rem;" name="fullUrl" id="fullUrl"
      placeholder="Input URL here">
    <button class="d-grid gap-2 mx-auto btn btn-outline-primary" type="submit" style="width: 12rem;">shorten</button>
  </form>

  {{#if createData}}
  <hr>
  </hr>

  <div class="col-8 my-4 mx-auto">
    <p class="h3 text-center mt-5">Success! Please use this link:</p>
    <p id="shortUrl" class="text-primary text-center fw-bold">{{createData}}</p>
    <button type="submit" class="d-grid gap-2 mx-auto btn btn-primary" style="width: 6rem;" id="copy">Copy</button>
  </div>
  {{/if}}

  <hr>
  </hr>

  <p class="h2 text-center mt-5">Short URL Records</p>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th class="px-4">INPUT</th>
        <th>OUTPUT</th>
        <th>CLICKS</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td class="px-4">
          {{fullUrl}}
        </td>
        <td>
          <a href="/{{shortUrl}}">{{shortUrl}}</a>
        </td>
        <td>{{clicks}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>